.users {
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: var(--text);

  &__background {
    position: fixed;
    inset: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
  }

  &__content {
    display: flex;
    justify-content: start;
    position: relative;
    top: 200px;
    z-index: 2;
    width: 100%;
  }
}
