.header {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  z-index: 10;
  font-size: 20px;
  transform: translateY(-4px) scale(1.02);
  a {
    text-decoration: none;
    color: white;
  }
}
